<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/stylesabout.css">
    <title>About</title>
</head><h1>ABOUT</h1><header>
</header>
<body>
    <p>
        Kerala Dust was founded in 2016 by three guys from London. Their music is very poetic. 
        They have a unique music style with influences of psychedelic rock, blues and techno. 
    </p>
    <p>
        Edmund Kenny is doing the vocals and electronics <br>
        Harvey Grant the keys<br>
        and<br>
        Lawrence Howarth the guitar
    </p>
    <p>
       <span>Seeing them play life is a magic experience.</span> 
    </p>
</body>
</html>