<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Home</title>
</head>
<header>
    <img src="/images/KeralaDust_Background.jpeg" alt="Wüste">
</header>
<body>
    <h1>Kerala Dust</h1>
    <nav>
        <a href="/about">About</a>
        <div>|</div>
        <a href="/works">Works</a>
        <div>|</div>
        <a href="/photogallery">Gallery</a>
    </nav>
</body>
</html>