<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/stylesabout.css">
    <title>Works</title>
</head>
<body>
    <h1>WORK</h1>
    <h3>Poetry & Music</h3>
    <p>
        you’re a comma to a question or a point that can’t be raised <br>
        an incident that wakes you to a sun that never came<br>
        an answer to some riddle or a consequential truth<br>
        but some might say that’s why i fell for you<br>
        <a href="https://soundcloud.com/keraladust/maria">Kerala Dust - Maria</a>
    </p>
    <h3>Video</h3>
    <a href="https://www.youtube.com/watch?v=vvYe7QQrKME">Live Peformance in the desert</a>
</body>
</html>